<app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
<app-todo-item *ngFor="let todo of todos" [todo]="todo" (deleteTodo)="deleteTodo($event)"></app-todo-item> 

<nz-table #basicTable [nzData]="Todolist">
  <thead>
    <tr>
      <th>Name</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{Todo.title}}</td>
     
      <td>
        <a>Action 一 {{data.name}}</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>
  
